<div id="left">
  <h1>Sedans</h1>

  <% @cars.each do |c| %>
    <% if c.tipe == "Sedan" %>
    <div id="cars_sales">
      <h3><%= "#{c.mark} - #{c.model}" %></h3>
      <p>
        <%= image_tag "#{c.model}.png", width: "300px", id: "picture_car" %>
        Portas: <%= c.door %><br>
        Vidro elétrico:
        <% if c.glass %>
          Sim
        <% else %>
          Não
        <% end %><br>
        Preço: R$ <%= c.price %><br><br><br>
        <%= link_to "Mais informações", car_path(c.id), :id => "more" %><br><br>
      </p>
    </div>
    <% else %>
    <% end %>
  <% end %>

</div>

<div id="right">
  <h1>Coupés</h1>
  <% @cars.each do |c| %>
    <% if c.tipe == "Coupe" %>
    <div id="cars_sales">
      <h3><%= "#{c.mark} - #{c.model}" %></h3>
      <p>
        <%= image_tag "#{c.model}.png", width: "300px", id: "picture_car" %>
        Portas: <%= c.door %><br>
        Vidro elétrico:
        <% if c.glass %>
          Sim
        <% else %>
          Não
        <% end %><br>
        Preço: R$ <%= c.price %><br>
        <%= link_to "Mais informações", car_path(c.id), :id => "more" %>
      </p>
    </div>
    <% else %>
    <% end %>
  <% end %>
</div>
