
<!DOCTYPE html>
<html>
<head>
  <title>Triumph</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>$('.carousel').carousel();</script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" id="first">
    <div class="item active">
      <%= image_tag "background1.jpg" %>
      <div class="carousel-caption">
        <h2>Super Maquinas</h2>
        <p>Maquinas que respirão combustivel para viver velocidade.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag "background2.jpg" %>
      <div class="carousel-caption">
        <h2>Estilo</h2>
        <p>A beleza futurista estara até em seus parafusos.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag "background3.jpg" %>
      <div class="carousel-caption">
        <h2>Aerodinamica</h2>
        <p>A beleza não traz desempenho.</p>
      </div>
    </div>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Carros", cars_path %></li>
      <li><%= link_to "Informações", about_path %></li>
    </ul>
  </nav>

    <% if request.url == "http://localhost:3000/carros" %>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "cars_background.jpg" %>
        <div class="carousel-caption">
          <h2>Tops das estradas</h2>
          <p>Os melhores modelos, das melhores marcas.</p>
        </div>
      </div>
    </div>

    <style type="text/css">
      #first{
        display: none;
      }
    </style>
    <% elsif request.url == "http://localhost:3000/informacao" %>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "info_background.jpg" %>
        <div class="carousel-caption">
          <h2>Não há oque esconder</h2>
          <p>Tudo oque você quiser saber, ao seu alcance.</p>
        </div>
      </div>
    </div>

    <style type="text/css">
      #first{
        display: none;
      }
    </style>
    <% end %>



  <div id="post">
    <%= yield %>
  </div>


  <header>
    <p>@2014 Nenhum direito reservado.</p>
  </header>
</body>
</html>
